.header{
  background-color: gray;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 80px;
  text-align: center;
  box-sizing: border-box;
}
.botao{
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 15px;
}
.botao:hover{
  transform: scale(1.1);
  background-color: #4CAF50;
  transition: transform 0.3s ease;
}
.botao:not(:hover){
  transform: scale(1);
  background-color: #f44336;
  transition: transform 0.3s ease;
}
.selecionado{
  background-color: #4CAF50;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}

.logo{
  height: 100px;
  position: absolute;
  left: 10px;
  top: 2px;
}